In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [4]:
store_data= pd.read_excel('data.xls')

In [5]:
store_data.head()

  Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
0     Wine    Chips    Bread   Butter     Milk    Apple
1     Wine      NaN    Bread   Butter     Milk      NaN
2      NaN      NaN    Bread   Butter     Milk      NaN
3      NaN    Chips      NaN      NaN      NaN    Apple
4     Wine    Chips    Bread   Butter     Milk    Apple

In [6]:
store_data.tail()

   Barang 1 Barang 2 Barang 3 Barang 4 Barang 5 Barang 6
17      NaN    Chips      NaN   Butter     Milk    Apple
18     Wine    Chips    Bread   Butter     Milk    Apple
19     Wine      NaN    Bread   Butter     Milk    Apple
20     Wine    Chips    Bread      NaN     Milk    Apple
21      NaN    Chips      NaN      NaN      NaN      NaN

In [7]:
store_data.shape

(22, 6)

In [8]:
records = []
for i in range (0, 22):
     records.append([str(store_data.values[i,j])for j in range (0,6)])

In [9]:
association_rules = apriori(records, min_support=0.08, min_confidence=0.9, min_lift=1.1, min_length=4)
association_results = list(association_rules)

In [10]:
print(len(association_results))

15

In [11]:
print(association_results[0])

RelationRecord(items=frozenset({'Bread', 'Wine', 'Apple'}), support=0.45454545454545453, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Wine', 'Apple'}), items_add=frozenset({'Bread'}), confidence=0.9090909090909091, lift=1.25)])

In [12]:
results = []
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]
    
    rows = (value0, value1, value2, value3, value4)
    
    results.append(rows)
    
    label = ['title1'], ['title2'],['support'], ['confidence'],['lift']
    
    store_suggestion = pd.DataFrame.from_records(results,columns=label)
    
    print(store_suggestion)

  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
5     Bread      Wine     0.2727           1.0   1.375
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
5     Bread      Wine     0.2727           1.0   1.375
6     Bread      Wine     0.3181           1.0   1.375
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
5     Bread      Wine     0.2727           1.0   1.375
6     Bread      Wine     0.3181           1.0   1.375
7     Bread      Milk     0.4090        0.9000  1.1647
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
5     Bread      Wine     0.2727           1.0   1.375
6     Bread      Wine     0.3181           1.0   1.375
7     Bread      Milk     0.4090        0.9000  1.1647
8     Apple     Bread     0.2272           1.0   1.375
  (title1,) (title2,) (support,) (confidence,) (lift,)
0     Bread      Wine     0.4545        0.9090    1.25
1     Bread    Butter     0.4090        0.9000  1.3200
2     Bread      Wine     0.4545        0.9090    1.25
3      Wine      Milk     0.4545        0.9090  1.1764
4     Chips      Milk     0.4090        0.9000  1.1647
5     Bread      Wine     0.2727           1.0   1.375
6     Bread      Wine     0.3181           1.0   1.375
7     Bread      Milk     0.4090        0.9000  1.1647
8     Apple     Bread     0.2272           1.0   1.375
9     Apple     Bread     0.2272           1.0   1.375
   (title1,) (title2,) (support,) (confidence,) (lift,)
0      Bread      Wine     0.4545        0.9090    1.25
1      Bread    Butter     0.4090        0.9000  1.3200
2      Bread      Wine     0.4545        0.9090    1.25
3       Wine      Milk     0.4545        0.9090  1.1764
4      Chips      Milk     0.4090        0.9000  1.1647
5      Bread      Wine     0.2727           1.0   1.375
6      Bread      Wine     0.3181           1.0   1.375
7      Bread      Milk     0.4090        0.9000  1.1647
8      Apple     Bread     0.2272           1.0   1.375
9      Apple     Bread     0.2272           1.0   1.375
10     Apple     Bread     0.0909           1.0   1.375
   (title1,) (title2,) (support,) (confidence,) (lift,)
0      Bread      Wine     0.4545        0.9090    1.25
1      Bread    Butter     0.4090        0.9000  1.3200
2      Bread      Wine     0.4545        0.9090    1.25
3       Wine      Milk     0.4545        0.9090  1.1764
4      Chips      Milk     0.4090        0.9000  1.1647
5      Bread      Wine     0.2727           1.0   1.375
6      Bread      Wine     0.3181           1.0   1.375
7      Bread      Milk     0.4090        0.9000  1.1647
8      Apple     Bread     0.2272           1.0   1.375
9      Apple     Bread     0.2272           1.0   1.375
10     Apple     Bread     0.0909           1.0   1.375
11     Bread      Wine     0.2727           1.0   1.375
   (title1,) (title2,) (support,) (confidence,) (lift,)
0      Bread      Wine     0.4545        0.9090    1.25
1      Bread    Butter     0.4090        0.9000  1.3200
2      Bread      Wine     0.4545        0.9090    1.25
3       Wine      Milk     0.4545        0.9090  1.1764
4      Chips      Milk     0.4090        0.9000  1.1647
5      Bread      Wine     0.2727           1.0   1.375
6      Bread      Wine     0.3181           1.0   1.375
7      Bread      Milk     0.4090        0.9000  1.1647
8      Apple     Bread     0.2272           1.0   1.375
9      Apple     Bread     0.2272           1.0   1.375
10     Apple     Bread     0.0909           1.0   1.375
11     Bread      Wine     0.2727           1.0   1.375
12     Bread      Wine     0.1363           1.0   1.375
   (title1,) (title2,) (support,) (confidence,) (lift,)
0      Bread      Wine     0.4545        0.9090    1.25
1      Bread    Butter     0.4090        0.9000  1.3200
2      Bread      Wine     0.4545        0.9090    1.25
3       Wine      Milk     0.4545        0.9090  1.1764
4      Chips      Milk     0.4090        0.9000  1.1647
5      Bread      Wine     0.2727           1.0   1.375
6      Bread      Wine     0.3181           1.0   1.375
7      Bread      Milk     0.4090        0.9000  1.1647
8      Apple     Bread     0.2272           1.0   1.375
9      Apple     Bread     0.2272           1.0   1.375
10     Apple     Bread     0.0909           1.0   1.375
11     Bread      Wine     0.2727           1.0   1.375
12     Bread      Wine     0.1363           1.0   1.375
13     Apple     Bread     0.1818           1.0   1.375
   (title1,) (title2,) (support,) (confidence,) (lift,)
0      Bread      Wine     0.4545        0.9090    1.25
1      Bread    Butter     0.4090        0.9000  1.3200
2      Bread      Wine     0.4545        0.9090    1.25
3       Wine      Milk     0.4545        0.9090  1.1764
4      Chips      Milk     0.4090        0.9000  1.1647
5      Bread      Wine     0.2727           1.0   1.375
6      Bread      Wine     0.3181           1.0   1.375
7      Bread      Milk     0.4090        0.9000  1.1647
8      Apple     Bread     0.2272           1.0   1.375
9      Apple     Bread     0.2272           1.0   1.375
10     Apple     Bread     0.0909           1.0   1.375
11     Bread      Wine     0.2727           1.0   1.375
12     Bread      Wine     0.1363           1.0   1.375
13     Apple     Bread     0.1818           1.0   1.375
14     Bread      Wine     0.0909           1.0   1.375

In [13]:
store_suggestion.describe()

       (title1,) (title2,) (support,) (confidence,) (lift,)
count         15        15         15            15      15
unique         4         4          8             3       5
top        Bread      Wine     0.4090           1.0   1.375
freq           9         7          3             9       9

In [14]:
store_suggestion.to_excel('C:/Users/yulvavi/outputs.xls')